<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoKMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <AutoKMS.Properties.Settings>
      <setting name="AutoKMSPath" serializeAs="String">
        <value>%WINDIR%\AutoKMS</value>
      </setting>
      <setting name="AutoRearmPath" serializeAs="String">
        <value>%WINDIR%\AutoRearm</value>
      </setting>
      <setting name="KMSServerServicePath" serializeAs="String">
        <value>%WINDIR%\KMSServerService</value>
      </setting>
      <setting name="KMSPIDOffice" serializeAs="String">
        <value>ReuseKMSPID</value>
      </setting>
      <setting name="KMSPIDWindows" serializeAs="String">
        <value>ReuseKMSPID</value>
      </setting>
      <setting name="KMSPortOffice" serializeAs="String">
        <value>1688</value>
      </setting>
      <setting name="KMSPortWindows" serializeAs="String">
        <value>1688</value>
      </setting>
      <setting name="KMSServerOffice" serializeAs="String">
        <value>127.0.0.2</value>
      </setting>
      <setting name="KMSServerWindows" serializeAs="String">
        <value>127.0.0.2</value>
      </setting>
      <setting name="RemoveKMSConnection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseKMSEmulator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCMID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowUnlicensed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KillProcessOnPort" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LicenseBackupsPath" serializeAs="String">
        <value>.\Backups</value>
      </setting>
      <setting name="LocalHostBypassIPAddress" serializeAs="String">
        <value>10.3.0.1</value>
      </setting>
      <setting name="LocalHostBypassIPSubnet" serializeAs="String">
        <value>255.255.255.0</value>
      </setting>
      <setting name="LocalHostBypassUseTAPAdapter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalHostBypassUseWinDivertClient" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalHostBypassUseDLLInjection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KMSHardwareID" serializeAs="String">
        <value>364F463A8863D35F</value>
      </setting>
    </AutoKMS.Properties.Settings>
  </userSettings>
</configuration>